.wrapper {
    margin: auto; 
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 500px;
    padding: 50px;
    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(to bottom right, rgb(255, 144, 255), rgb(122, 235, 235));
}

.form-group input {
    margin-bottom: 20px;
}

.grad {
    background-image: linear-gradient(to bottom right, rgb(158, 72, 158), rgb(67, 255, 255));
}

.personDetailsCtr {
    width: 400px;
    margin-bottom: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgb(97, 97, 97);
}

.accDetailsCtr {
    width: 400px;
    margin-bottom: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgb(97, 97, 97);
}

.ctrInfo {
    margin-bottom: 20px;
}
